* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  width: 250px;
  background: white;
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  padding: 10px;
}
.sidebar-logo {
    margin-bottom: 20px; /* Existing style */
    width: 90px; /* Adjust this value to change the logo width */
    height: auto; /* This will maintain the aspect ratio of the logo */
    margin-right: 30px;
    margin-top: 20px;
  }
  

.sidebar a {
  padding: 25px 30px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  display: flex;
  align-items: center;
  transition: color 0.3s;
  margin-bottom: 10px;
}

.sidebar a i {
  margin-right: 15px;
}

.sidebar-header {
  text-align: center;
  padding-bottom: 25px;
}

.sidebar-logo {
  font-size: 30px;
  margin-bottom: 10px;
}

.sidebar-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar-spacer {
  flex-grow: 1;
}

.logout-link {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  display: block;
  padding: 15px 20px;
}

.sidebar a:hover {
  background: #6200ee;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background: white;
  position: fixed;
  width: calc(100% - 250px);
  left: 250px;
  top: 0;
  z-index: 10000;
}

.btn {
  padding: 20px 30px;
  margin-left: 15px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.login-btn {
  background: none;
  color: #333;
}

.sign-up-btn {
  background-color: #6200ee;
  color: white;
}

.btn:hover {
  scale: 1.1;
}

.main-container {
  margin-left: 250px;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-top: 140px;
}

.widget-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
}

.widget {
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 48%;
  margin-bottom: 20px;
  padding: 20px;
  max-height: 305px;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.task:hover .task-settings {
  visibility: visible;
}

.task-settings {
  display: flex;
  visibility: hidden;
}

.task-properties {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.task-check {
  background-color: white;
  border: 3px solid #eee;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.task-check:hover {
  background: #6200ee;
  opacity: 0.7;
  border: 3px solid #333;
}

#adder-task button {
  color: #808080;
  border: none;
  background-color: transparent;
}

.task-input {
  border: none;
  background-color: transparent;
}

.task-input:focus {
  border: none;
}

.project-intro {
  display: flex;
  justify-content: space-between;
}

.project-add {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
}

#pomodoro {
  border-radius: 8px;
  padding: 48px;
  text-align: center;
}
.pomodoro-content{
    margin-top: -20px;
}

#pomodoro p {
  font-size: 32px;
  color: #333;
  margin: 0 0 25px 0;
  font-weight: bold;
}

#number {
  font-size: 36px;
  color: #6200ee;
  margin-bottom: 30px;
}

#pomodoro button {
  padding: 16px 26px;
  border: none;
  border-radius: 15px;
  background-color: #6200ee;
  color: white;
  font-size: 1em;
  cursor: pointer;
  margin: 0 10px;
}
#pomodoro button:hover {
  scale: 1.1;
}

#pomodoro #stopButton {
  background-color: #ff6347;
}

#pomodoro #stopButton:hover {
  scale: 1.1;
}

.selection-buttons {
  margin: 10px 0;
}
.task-container {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 305px;
  overflow-y: auto;
}

.wrapper-title {
  font-size: 28px;
  color: #333;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: normal;
}

.in-progress,
.late,
.done {
  background: #f7f7f7;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 4px;
}

.in-progress p,
.late p,
.done p {
  margin: 0;
  color: #6200ee;
  font-weight: 500;
}

#adder-task {
  text-align: center;
  margin-top: 13px;
}

#adder-task button {
  padding: 10px 15px;
  background-color: #6200ee;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#adder-task button:hover {
  transform: translateY(-2px);
}

#adder-task {
  padding-bottom: 10px;
}

.task-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.task-input {
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  margin-right: 10px;
}

#adder-task {
  text-align: center;
  padding-top: 10px;
}

.task-button-add {
  margin-top: 20px;
  padding: 10px 20px;
}

#projects {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.project-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.project-intro p {
  font-size: 26px;
  color: #333;
  margin: 0;
  flex-grow: 1;
  font-weight: bold;
}

.project-add {
  background-color: #6200ee;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
}

.project-add:hover {
  scale: 1.1;
}

.project-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-panel label {
  font-size: 1em;
  color: #333;
  margin-bottom: 5px;
}

.project-name {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 12px;
}

.project-button {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.project-cancel,
.project-submit {
  padding: 12px 17px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.project-cancel {
  background-color: #6200ee;
  color: white;
}

.project-cancel:hover {
  background-color: #6200ee;
  transform: translateY(-2px);
}

.project-submit {
  background-color: #6200ee;
  color: white;
}

.project-submit:hover {
  background-color: #6200ee;
  transform: translateY(-2px);
}


